.generalContainer {
  border: black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  justify-content: center;
  align-items: center;
  border: black 2px;
  border-radius: 25px;
  width: 35%;
  height: 50%;
  background-color: #e0e0e0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
  }
}
